.mainSkill{
    height: 700px;
    display: flex;
    place-items: center;
    flex-wrap: wrap;
}

.skill svg{
    width: 100px;
    height: 100px;
    margin: 10px;
}

.boxSkill{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 70px;
}

