nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    background-color: #1c1b22;
    position: fixed;
    color: white;
    z-index: 2;
    padding: 0 20px;
}

nav h1 {
    letter-spacing: 0.2rem;
}

.navList {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navList,
a {
    display: flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
}

@media (max-width: 768px) {
    .navList {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 0;
        background-color: #1c1b22;
        width: 100%;
    }

    .navList.active {
        display: flex;
        background-color: aliceblue;
        width: 200px;
        height: 200px;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
    }
    nav h1 {
        display: none;
    }
}
