.container {
    display: grid;
    place-items: center;
    height: 100vh;
}

/* animation */
.message {
    font-size: 30px;
    border-right: 1px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.4s steps(23), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframe blinking {
    50% {
        border-color: transparent;
    }
}

/* Responsividade */
@media (max-width: 1035px) {
    .message {
        font-size: 13px;
    }
    .info {
        width: 100%;
        height: 100%;
        text-align: center;
    }
}
