.container {
    width: 100%;
    padding-bottom: 30px;
    max-width: 1440px;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 80px;
}

.title {
    text-align: center;
    margin: 24px 0;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
}

.fatherSlide {
    height: 500px;
}

.slide_item {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
}

.slide_item:hover {
    border: #e1e6e9 5px solid;
   
}

.box_info {
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box_info h2 {
    border-bottom: 1px solid white;
    font-size: 25px;
}

.slide_text {
    margin-top: 10px;
    font-size: 16px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.button a {
    width: 150px;
    height: 35px;
    background-color: #3e4952;
    border-radius: 5px;
    display: grid;
    place-items: center;
}

.button a:hover {
    background-color: #3c5865;
}

@media (max-width: 1160px) {
    .container {
        text-align: center;
    }

    .slide_item {
        width: 350px;
        height: 250px;
        margin: auto;
    }
    .slide {
        display: flex;
        flex-direction: column;
    }
    .box_info {
        width: 350px;
        text-align: center;
        gap: 30px;
    }
    .fatherSlide {
        height: 700px;
    }
}